<div class="body">
  <div class="cont" [class.s-signup]="rightPanelActive">
    <div class="form sign-in">
      <form [formGroup]="loginForm">
        <h2>Sign In</h2>
        <label>
          <span>Email Address</span>
          <span
            class="errorMessage"
            *ngIf="loginForm?.get('emailLoginControl')?.hasError('required')"
            [@flashErrorMessage]="flashError ? 'hide' : 'show'"
          >
            * Required
          </span>
          <input
            type="email"
            formControlName="emailLoginControl"
            name="emailLoginControl"
          />
        </label>
        <label>
          <span>Password</span>
          <span
            class="errorMessage"
            *ngIf="loginForm?.get('passwordLoginControl')?.hasError('required')"
            [@flashErrorMessage]="flashError ? 'hide' : 'show'"
          >
            * Required
          </span>
          <input
            type="password"
            formControlName="passwordLoginControl"
            name="passwordLoginControl"
          />
        </label>
        <button class="submit" type="button" (click)="onSubmitLogin()">
          Sign In
        </button>
      </form>
      <p class="forgot-pass">Forgot Password ?</p>
      <div class="social-media">
        <ul>
          <li>
            <a href="https://github.com/Wheel-Credit/" target="_blank">
              <img src="../../../../assets/github.png" />
            </a>
          </li>
          <li>
            <a href="http://upc.edu.pe/" target="_blank">
              <img src="../../../../assets/upc.png" />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="sub-cont">
      <div class="img">
        <div class="img-text m-up">
          <h2>New here?</h2>
          <p>Sign up and discover great amount of new opportunities!</p>
        </div>
        <div class="img-text m-in">
          <h2>One of us?</h2>
          <p>If you already have an account, just sign in. We've missed you!</p>
        </div>
        <div class="img-btn" (click)="toggleRightPanel()">
          <span class="m-up">Sign Up</span>
          <span class="m-in">Sign In</span>
        </div>
      </div>
      <div class="form sign-up">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignUp()">
          <h2>Sign Up</h2>
          <label class="form-group">
            <span>Name</span>
            <span
              class="errorMessage"
              *ngIf="signupForm?.get('nameControl')?.hasError('required')"
              [@flashErrorMessage]="flashError ? 'hide' : 'show'"
            >
              * Required
            </span>
            <input
              type="text"
              [(ngModel)]="nameControl"
              formControlName="nameControl"
              required
              name="nameControl"
            />
          </label>
          <label>
            <span>Last Name</span>
            <span
              class="errorMessage"
              *ngIf="signupForm?.get('lastNameControl')?.hasError('required')"
              [@flashErrorMessage]="flashError ? 'hide' : 'show'"
            >
              * Required
            </span>
            <input
              type="text"
              [(ngModel)]="lastNameControl"
              formControlName="lastNameControl"
              required
              name="lastNameControl"
            />
          </label>
          <label>
            <span>Email</span>
            <span
              class="errorMessage"
              *ngIf="signupForm?.get('emailSignUpControl')?.hasError('email')"
              [@flashErrorMessage]="flashError ? 'hide' : 'show'"
            >
              * Invalid
            </span>
            <input
              type="email"
              [(ngModel)]="emailSignUpControl"
              formControlName="emailSignUpControl"
              required
              name="emailSignUpControl"
            />
          </label>
          <label>
            <span>Password</span>
            <span
              class="errorMessage"
              *ngIf="
                signupForm?.get('passwordSignUpControl')?.hasError('required')
              "
              [@flashErrorMessage]="flashError ? 'hide' : 'show'"
            >
              * Required
            </span>
            <input
              type="password"
              [(ngModel)]="passwordSignUpControl"
              formControlName="passwordSignUpControl"
              name="passwordSignUpControl"
              required
            />
          </label>
          <label>
            <span>Confirm Password</span>
            <span
              class="errorMessage"
              *ngIf="signupForm.hasError('passwordMismatch')"
              [@flashErrorMessage]="flashError ? 'hide' : 'show'"
            >
              * Mismatch
            </span>
            <input
              type="password"
              [(ngModel)]="passwordConfirmSignUpControl"
              formControlName="passwordConfirmSignUpControl"
              name="passwordConfirmSignUpControl"
              required
            />
          </label>

          <button type="button" class="submit" (click)="onSubmitSignUp()">
            Sign Up Now
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
