<body>
  <div class="container" [class.empty]="dataSource.length <= 0">
    <div class="hero">
      <h1 class="red">Payment Plans</h1>
      <p *ngIf="dataSource.length <= 0">We have no payment plans yet.</p>
      <p *ngIf="dataSource.length > 0">
        We have {{ dataSource.length }} payment plans.
      </p>
      <p>
        This page displays {{ dataSource.length }} payment plans for different
        types of cars. You can choose any plan and modify certain values, like
        interest rates and grace periods, to tailor it to your specific needs
        and financial situation. By customizing these values, you can create a
        more realistic and manageable payment plan that fits your budget and
        goals.
      </p>
    </div>
  </div>

  <div class="container hr">
    <div class="card" *ngFor="let item of dataSource; index as i">
      <div class="card-body">
        <div class="header">
          <h1 class="card-title">
            {{ item.name }}
          </h1>
        </div>
        <div class="img-container">
          <img src="{{ item.image }}" alt="" />
        </div>
        <div class="card-text-container">
          <p class="card-text">
            {{ item.description }}
          </p>
        </div>
        <div class="footer">
          <button
            class="btn btn-default ml-10px"
            (click)="openSmartPaymentTable(item, i)"
          >
            View Payment Plan
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
