<form class="form" [formGroup]="smartPaymentForm">
  <p>
    Data to enter</p>

  <div class="flex">
    <div class="form-group">
      <label for="sellingPriceAsset">Selling Price Asset</label>
      <input type="number" class="form-control" id="sellingPriceAsset" required (input)="updateFormReadiness()"
        formControlName="sellingPriceAsset" [min]="1" />
    </div>

    <div class="form-group">
      <label for="planType">Plan Type</label>
      <select required id="planType" class="form-control" formControlName="paymentPlanType"
        (input)="updateFormReadiness()">
        <option>24</option>
        <option>36</option>
      </select>
    </div>

    <div class="form-group">
      <label for="initialInstallment">% Initial Installment</label>
      <input type="number" class="form-control" id="initialInstallment" required formControlName="initialInstallment"
        (input)="updateFormReadiness()" [min]="0" />
    </div>

    <div class="form-group">
      <label for="finalInstallment">% Final Installment</label>
      <input type="number" class="form-control" id="finalInstallment" required formControlName="finalInstallment"
        [min]="0" (input)="updateFormReadiness()" />
    </div>

    <div class="form-group">
      <label for="interestRate">% Interes Rate</label>
      <input type="number" class="form-control" id="interestRate" required formControlName="interestRate" [min]="0"
        (input)="updateFormReadiness()" />
    </div>

    <div class="form-group">
      <label for="interestType">Interes Type</label>
      <select required id="interestType" class="form-control" formControlName="interestType"
        (input)="updateFormReadiness()">
        <option>TNA</option>
        <option>TEA</option>
      </select>
    </div>

    <div class="form-group">
      <label for="capitalization">Capitalization</label>
      <select required id="capitalization" class="form-control" formControlName="capitalization"
        (input)="updateFormReadiness()">
        <option>Diaria</option>
        <option>Mensual</option>
      </select>
    </div>

    <div class="form-group">
      <label for="paymentFrequency">Payment Frequency</label>
      <input required id="paymentFrequency" formControlName="paymentFrequency" type="number" class="form-control"
        [min]="0" (input)="updateFormReadiness()" />
    </div>
  </div>

  <!-- 
        Costos y gastos Iniciales
      -->

  <hr />
  <p>
    Initial costs and expenses</p>

  <div class="flex">
    <div>
      <label for="notaryCosts">Notary Costs</label>
      <input id="notaryCosts" formControlName="notaryCosts" type="number" [min]="0" class="form-control" />
    </div>
    <div>
      <div class="form-group">
        <label for="notaryCostsType">Notary Costs Type</label>
        <select id="notaryCostsType" class="form-control" formControlName="notaryCostsType">
          <option>Cash</option>
          <option>Loan</option>
        </select>
      </div>
    </div>
  </div>

  <div class="flex">
    <div>
      <label for="registrationCosts">Registration Costs</label>
      <input id="registrationCosts" formControlName="registrationCosts" type="number" [min]="0" class="form-control" />
    </div>
    <div>
      <div class="form-group">
        <label for="registrationCostsType">Registration Costs Type</label>
        <select id="registrationCostsType" class="form-control" formControlName="registrationCostsType">
          <option>Cash</option>
          <option>Loan</option>
        </select>
      </div>
    </div>
  </div>

  <div class="flex">
    <div>
      <label for="appraisal">Appraisal</label>
      <input id="appraisal" formControlName="appraisal" type="number" [min]="0" class="form-control" />
    </div>
    <div>
      <div class="form-group">
        <label for="appraisalType">Appraisal Type</label>
        <select id="appraisalType" class="form-control" formControlName="appraisalType">
          <option>Cash</option>
          <option>Loan</option>
        </select>
      </div>
    </div>
  </div>

  <div class="flex">
    <div>
      <label for="studyCommission">Comisión de estudio</label>
      <input id="studyCommission" formControlName="studyCommission" type="number" [min]="0" class="form-control" />
    </div>
    <div>
      <div class="form-group">
        <label for="studyCommissionType">Study Comission Type</label>
        <select id="studyCommissionType" class="form-control" formControlName="studyCommissionType">
          <option>Cash</option>
          <option>Loan</option>
        </select>
      </div>
    </div>
  </div>

  <div class="flex">
    <div>
      <label for="activationCommission">Activation Comission</label>
      <input id="activationCommission" formControlName="activationCommission" type="number" [min]="0"
        class="form-control" />
    </div>
    <div>
      <div class="form-group">
        <label for="activationCommissionType">Activation Comission Type</label>
        <select id="activationCommissionType" class="form-control" formControlName="activationCommissionType">
          <option>Cash</option>
          <option>Loan</option>
        </select>
      </div>
    </div>
  </div>

  <hr />
  <p>
    Periodic costs and expenses</p>
  <div class="flex">
    <div class="form-group">
      <label for="gps">GPS</label>
      <input required id="gps" formControlName="gps" type="number" class="form-control" [min]="0"
        (input)="updateFormReadiness()" />
    </div>

    <div class="form-group">
      <label for="shippingCosts">Shipping Costs</label>
      <input required id="shippingCosts" formControlName="shippingCosts" type="number" class="form-control" [min]="0"
        (input)="updateFormReadiness()" />
    </div>
    <div class="form-group">
      <label for="administrativeExpenses">Administrative Expenses</label>
      <input required id="administrativeExpenses" formControlName="administrativeExpenses" type="number"
        class="form-control" [min]="0" (input)="updateFormReadiness()" />
    </div>

    <div class="form-group">
      <label for="lifeInsurance">% Life Insurance</label>
      <input required id="lifeInsurance" formControlName="lifeInsurance" type="number" class="form-control" [min]="0"
        (input)="updateFormReadiness()" />
    </div>

    <div class="form-group">
      <label for="riskInsurance">% Risk Insurance</label>
      <input required id="riskInsurance" formControlName="riskInsurance" type="number" class="form-control" [min]="0"
        (input)="updateFormReadiness()" />
    </div>
  </div>

  <hr />
  <p>
    Opportunity cost</p>

  <div class="form-group ml-10px">
    <label for="discountRate">Discount Rate</label>
    <input required id="discountRate" formControlName="discountRate" type="number" class="form-control" [min]="0"
      (input)="updateFormReadiness()" />
  </div>

  <!-- 
        Button
      -->

  <button type="button" class="btn btn-default ml-10px" [class.green_button]="formReady" [class.red_button]="!formReady"
    (click)="onSubmit()">
    Create Table
  </button>
  <button type="button" class="btn btn-default ml-10px .green_button" [class.green_button]="true"
    (click)="inputRandomData()">
    Random Data
  </button>
</form>